* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, rgba(224,4,108,0.9179359243697479) 2%, rgba(0,0,0,1) 90%);
}

.navbar {
    border-bottom: 2px solid #e0046c;
}

.navbar-brand img {
    width: 150px;
}

.nav-link,
.fa-solid {
    color: #e0046c;
}

.nav-link:hover,
.fa-solid:hover {
    color: #f9f9f9;
}

#home-button {
    border-color: #f9f9f9;
}

#home-button:hover,
#home-button:focus {
    background-color: #e0046c;
    color: #f9f9f9;
    transform: scale(1.1);
}

.fa-magnifying-glass {
    color: #f9f9f9;
}

h1 {
    color: #e0046c;
    text-shadow: 2px 2px 2px rgba(249, 249, 249, 1);
}

.banner {
    height: auto;
    background-image: url(../images/Mass\ Circles.svg);
}

h1:hover, footer img:hover, .fa-solid:hover {
    transform: scale(1.2);
}

footer {
    color: #f9f9f9;
    border-top: 2px solid #e0046c;
}

.form-control {
    width: 20rem;
    border-color: #e0046c;
    font-weight: bolder;
}

#main-search input:focus {
    color: #e0046c;
    font-weight: bold;
}

#main-checkbox input,
#main-search btn-outline-light {
    border-color: #e0046c
}

.card, form, table {
    box-shadow: 0px 0px 15px 1px #000000;
}

.card-title {
    color: #e0046c;
}

.card:hover {
    transform: translateY(-1rem);
}

.card-button:hover {
    border-color: #e0046c;
    color: #e0046c;
}

#form-button {
    border-color: #e0046c;
    color: #e0046c;
}

#form-button:hover {
    border-color: #f9f9f9;
    color: #f9f9f9;
    background-color: #e0046c;
}

form {
    color: #e0046c;
}

td {
    height: 3rem;
}

th {
    height: 4rem;
}

.text {
    color: #e0046c;
}

table {
    width: 80rem;
}

.subt {
    background-color: gray;
}